<div class="container">
    <div class="box">
        <h3 style="text-align: center;">Students</h3>
        <button type="button" routerLink="/login-student" class="btn btn-outline-primary">Login</button>
        <button type="button" routerLink="/register-student" class="btn btn-outline-light">Register</button>
    </div>
    <div class="box">
        <h3  style="text-align: center;">Teacher</h3>
        <button type="button" routerLink="/login" class="btn btn-outline-primary">Login</button>
        <button type="button" routerLink="/register" class="btn btn-outline-light">Register</button>
    </div>
</div>