<div class="container">
    <form [formGroup]="form" (ngSubmit)="register()"> 
      <h3>Register</h3>
      <div class="mb-3">
        <label for="exampleInputName1" class="form-label">NAME</label>
        <input 
          type="text" 
          class="form-control" 
          formControlName="name">
      </div>
      <div class="mb-3">
        <label for="exampleInputBatch1" class="form-label">BATCH</label>
        <input 
          type="text" 
          class="form-control" 
          formControlName="batch">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input 
          type="email" 
          class="form-control" 
          formControlName="email">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input 
          type="password" 
          class="form-control" 
          formControlName="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  