.container {
    text-align: center;
    padding: 20px;
  }
  
  .qr-section {
    margin-bottom: 20px;
  }
  
  .present-students-section {
    h2 {
      margin-bottom: 10px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin: 5px 0;
      }
    }
  }
  